<div class="todo-section">
  <h2>📝 Teendők</h2>


  <div class="todo-list" [@listAnimation]="todos.length">
    <div
      class="todo-card"
      *ngFor="let todo of todos"
      [class.done]="todo.isItDone"
    >
      <div class="todo-header">
        <h3>{{ todo.title }}</h3>
        <mat-checkbox
          [(ngModel)]="todo.isItDone"
          (change)="toggleTodo(todo)"
        ></mat-checkbox>
      </div>

      <p class="description">{{ todo.description }}</p>

      <div class="footer">
  <span
    class="remaining"
    [ngStyle]="{
      color: getRemainingColor(todo),
      borderColor: getRemainingColor(todo),
      background: getRemainingColor(todo) + '22'
    }"
    [class.expired]="getRemainingTime(todo) === '⏰ Lejárt'"
  >
    ⏱ {{ getRemainingTime(todo) }}
  </span>
</div>

    </div>

    <div *ngIf="todos.length === 0" class="schedule-placeholder">
      Nincs még teendő. Adj hozzá egyet!
    </div>
  </div>
</div>
