<app-login-header></app-login-header>

<div class="landing-container">
  <mat-card class="landing-card">
    <mat-card-header>
      <mat-card-title>Üdv az Okos Órarendben!</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="button-container">
        <button mat-raised-button color="primary" routerLink="/login">
          Bejelentkezés
        </button>

        <div class="divider">vagy</div>

        <button mat-stroked-button color="primary" routerLink="/register">
          Regisztráció
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
