/* You can add global styles to this file, and also import other style files */
@use './styles/theme' as *;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-dialog .mat-mdc-dialog-surface {
  background: transparent !important;
  box-shadow: none !important;
}

