<app-logged-header></app-logged-header>

<div class="home-container">
  <!-- Bal: Órarend -->
  <app-schedule-section></app-schedule-section>

  <!-- Közép: Teendők -->
  <app-todo-section></app-todo-section>

  <!-- Jobb oldali sidebar -->
  <div class="sidebar">
    <!-- 📝 Új teendő hozzáadása -->
    <button
      mat-raised-button
      color="accent"
      class="sidebar-button todo-button"
      (click)="onAddTodo()"
      style="margin-bottom: 0.8rem"
    >
      📝 Teendő hozzáadása
    </button>

    <button
      mat-raised-button
      color="accent"
      class="sidebar-button add-button"
      (click)="onAddLesson()"
    >
      ➕ Óra hozzáadása
    </button>

    <button
      mat-raised-button
      color="warn"
      class="sidebar-button manage-button"
      (click)="onManageLessons()"
    >
      🗑️ Órák kezelése
    </button>

    <button
      mat-raised-button
      color="primary"
      class="sidebar-button edit-button"
      (click)="openEditLessonsDialog()"
    >
      ✏️ Órák szerkesztése
    </button>
  </div>
</div>
